@model IEnumerable<ShopUser>
<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col-md">
            @foreach (var user in Model)
            {

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4" style="background-color: #5e72e4;">
                            <div class="card-img" alt="..."></div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Name : @user.Email</h5>
                                <a asp-controller="Admin" asp-action="EditUserRole" asp-route-userId="@user.Id" class="btn btn-primary">Edit roles</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>
</div>
