@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<h3>Hello, this is some test online shop.</h3>
<h4>Before starting the app please check file Readme.txt</h4>
<h3 style="font-weight:bold;"> Admin role - users role assigment</h3>
<ul>
    <li><h4>login : aaa@gmail.com</h4></li>
    <li><h4>password : Aa_111</h4></li>
</ul>
<h3 style="font-weight:bold;"> Manager role - adding, updating, deleting products, products categories and stocks</h3>
<ul>
    <li><h4>login : mmm@gmail.com</h4></li>
    <li><h4>password : Mm_111</h4></li>
</ul>
<h3 style="font-weight:bold;">User role - adding and removing products from shopping cart, ordering products</h3>
<ul>
    <li><h4>login : uuu@gmail.com</h4></li>
    <li><h4>password : Uu_111</h4></li>
</ul>

