@model ProductViewModel
<div class="wrapper">
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-7">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white pb-5" >
                            <h4 style="text-align:center">Add product</h4>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <form role="form" asp-action="AddProduct" asp-controller="Manager" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <input class="form-control" placeholder="Name" type="text" asp-for="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <input class="form-control" placeholder="Price" asp-for="Price">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CategoryId" class="col-sm-8">Product Category</label>
                                    <div class="input-group input-group-alternative mb-3">
                                        <select asp-for="CategoryId" asp-items="@ViewBag.CategoriesList" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Image" class="col-sm-4"></label>
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="custom-file">
                                            <input asp-for="Image" class="form-control custom-file-input">
                                            <label class="custom-file-label">Choose File...</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-4">Add product</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    
</div>